body {
  background-color: white;
}

/* Mobile */
@media (max-width: 480px) {
  body {
    background-color: lightgray;
  }
}

/* Tablet */
@media (max-width: 768px) {
  body {
    background-color: lightblue;
  }
}

/* Laptop */
@media (max-width: 1024px) {
  body {
    background-color: lightgreen;
  }
}